<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Love, Sushi</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css"/>


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ @BASE }}">Love, Sushi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ @BASE }}">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="order">Order</a>
                    <span class="sr-only">(current)</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container mt-5 p-4">

    <div class="my-5">
        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">Admin Only</p>
                <a href="logout" id="out">Log Out</a>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    <div class="vh-100">
        <h1>Orders</h1>
        <table id = "service-table" class = "display mb-4">
            <thead>
            <tr>

                <td>Order Date</td>
                <td>Main roll</td>
                <td>Side roll</td>
                <td>Drink</td>
                <td>Alcohol</td>
                <td>Name</td>
                <td>Phone</td>
                <td>Email</td>
                <td>Date of Birth</td>

            </tr>
            </thead>

            <tbody>
            <repeat group = "{{ @customers }}" value = "{{ @customer }}">
                <tr>
                    <td>{{ @customer['placed'] }}</td>
                    <td>{{ @customer['main'] }}</td>
                    <td>{{ @customer['side'] }}</td>
                    <td>{{ @customer['drink'] }}</td>
                    <td>{{ @customer['alcohol'] }}</td>
                    <td>{{ @customer['full'] }}</td>
                    <td>{{ @customer['phone'] }}</td>
                    <td>{{ @customer['email'] }}</td>
                    <td>{{ @customer['dob'] }}</td>
                </tr>
            </repeat>

            </tbody>
            </table>
    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="row">
        <div class="col-9">
        </div>
        <div class="col-3">
            <a class="text-right text-white-50" href="admin-login">Admin</a></div>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery.js" ></script>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>

<script>
    $('#service-table').DataTable();
</script>

</body>

</html>