<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Love, Sushi</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Love, Sushi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="order">Order</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="images/sushi-main.jpg" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Love, Sushi</h1>
        <p>Love, sushi is an innovative new way to order your favorite sushi!
        Choose two of your favorite rolls along with a drink for a low price! Mix and match to
        your ideal meal. Pick up only.</p>
        <a class="btn btn-primary" href="order">Order Here</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <h3 class="text-white m-0">View our current menu options</h3>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="images/Dragon-Roll-0286-I-500x375.jpg" alt="Dragon Roll">
          <div class="card-body">
            <h2 class="card-title">Dragon Roll</h2>
            <p class="card-text">Crunchy shrimp tempura, creamy avocado, and fresh cucumber all on top of our signature roll!</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="images/cali-roll.jpg" alt="California Roll">
          <div class="card-body">
            <h2 class="card-title">Vegan California Roll</h2>
            <p class="card-text">Everything you love about this classic roll, substituting the fish with a delicious Enoki mushroom, making it suitable for our vegan customers!</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="images/spicy-tuna.jpg" alt="Spicy Tuna Roll">
          <div class="card-body">
            <h2 class="card-title">Spicy Tuna Roll*</h2>
            <p class="card-text">A classic consisting of spicy sashimi-grade tuna, delicious scallions, and sesame seeds!</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="images/crab-tempura.jpg" alt="Crab Tempura">
          <div class="card-body">
            <h2 class="card-title">Crab Tempura Roll</h2>
            <p class="card-text">Mouth watering, crunchy crab tempura, deep fried with our signature sushi rice, and smothered in our delicious spicy sauce!</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="images/salmon-nigiri.jpg" alt="">
          <div class="card-body">
            <h2 class="card-title">Salmon Nigiri*</h2>
            <p class="card-text">Thinly sliced marinated salmon, on top of our signature sushi rice!</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="images/onigiri.jpg" alt="">
          <div class="card-body">
            <h2 class="card-title">Onigiri Vegan</h2>
            <p class="card-text">Delicious sushi rice wrapped in our Nori seeweed, perfect for our vegan customers!</p>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
      <div class="row">
        <div class="col-9">
      <p class="m-0 text-center text-white">*Contains raw fish. Consuming raw or undercooked fish may
        increase your risk of food-borne illness.</p></div>
        <div class="col-3">
      <a class="text-right text-white-50" href="admin-login">Admin</a></div>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
