<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Love, Sushi</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Love, Sushi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ @BASE }}">Home

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Order</a>
                    <span class="sr-only">(current)</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="images/sushi-main.jpg" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <h1 class="font-weight-light">Order at Love, Sushi</h1>
            <p>Love, Sushi is an innovative new way to order your favorite sushi!
                Choose two of your favorite rolls along with a drink for a low price! Mix and match to
                your ideal meal. Pick up only.</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <h3 class="text-white m-0">Base Meal $12.99</h3>
            <h4 class="text-white m-0">Upgrade to an Adult Meal for an additional $2.00</h4>
        </div>
    </div>

    <!-- Content Row -->
    <div>
        <div class="mb-5">
                <form action= "#" method="post">
                    <fieldset>
                        <h2>Order Here</h2>
                        <div class="row">
                            <div class="col-md-6">

                                <label for="froll">First Roll:</label>
                                <check if="{{ isset(@errors['froll']) }}"> {{ @errors['froll'] }}</check>
                                <select class="custom-select " id="froll" name="froll">
                                    <option value=""></option>
                                    <repeat group="{{ @frolls }}" value="{{ @roll }}">
                                        <option value="{{ @roll }}"
                                        <check if="{{ @roll == @userFroll }}"> selected </check>
                                        > {{ ucwords(@roll) }}</option>
                                    </repeat>
                                </select>
                                <label for="sroll">Second Roll:</label>
                                <check if="{{ isset(@errors['sroll']) }}"> {{ @errors['sroll'] }}</check>
                                <select class="custom-select" id="sroll" name="sroll">
                                    <option value=""></option>
                                    <repeat group="{{ @srolls }}" value="{{ @sroll }}">
                                        <option value="{{ @sroll }}"
                                        <check if="{{ @sroll == @userSroll }}"> selected </check>
                                        > {{ ucwords(@sroll) }}</option>
                                    </repeat>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <div>
                                <label for="drink">Drink:</label>
                                    <check if="{{ isset(@errors['drink']) }}"> {{ @errors['drink'] }}</check>
                                <select class="custom-select" id="drink" name="drink">
                                    <option value=""></option>
                                    <repeat group="{{ @drinks }}" value="{{ @drink }}">
                                        <option value="{{ @drink }}"
                                        <check if="{{ @drink == @userDrink }}"> selected </check>
                                        > {{ ucwords(@drink) }}</option>
                                    </repeat>
                                </select>
                            </div>
                        <!--If the checkbox is checked, show Alcohol and require DOB !-->
                        <div class="checkbox">
                        <label><input type="checkbox" id="terms" name="terms"> I am over the age 21</label>
                        </div>

                        <div class="form check form-check-inline">
                            <p class="">Add Alcohol: (+$2)</p>
                            <div class="container">
                                <repeat group="{{ @alcohols }}" value="{{ @alcohol }}">
                                    <input class="form-check-input" type="radio" disabled
                                           name="alcohol" id="{{ @alcohol }}"
                                           value="{{ @alcohol }}">
                                    <label class="form-check-label pr-2" for="{{ @alcohol }}">{{ ucfirst(@alcohol) }}</label>
                                </repeat>
                                <check if="{{ isset(@errors['alcohol']) }}"> {{ @errors['alcohol'] }}</check>
                            </div>
                        </div>   </div>
    </div>
                </fieldset>
                    <fieldset>
                        <legend>Information</legend>
                        <div>
                            <label for="fname">First Name*</label>
                            <input type="text" class="form-control w-50" id="fname" name="fname" value="{{ @fname }}">
                            <check if="{{ isset(@errors['fname']) }}"> {{ @errors['fname'] }}</check>
                        </div>
                        <div>
                            <label for="lname">Last Name*</label>
                            <input type="text" class="form-control w-50" id="lname" name="lname" value="{{ @lname }}">
                            <check if="{{ isset(@errors['lname']) }}"> {{ @errors['lname'] }}</check>
                        </div>
                        <div>
                            <label for="phone">Phone Number*</label>
                            <input type="text" class="form-control w-50" id="phone" name="phone" value="{{ @phone }}">
                            <check if="{{ isset(@errors['phone']) }}"> {{ @errors['phone'] }}</check>
                        </div>
                        <div>
                            <label for="email">Email*</label>
                            <input type="text" class="form-control w-50" id="email" name="email" value="{{ @email }}">
                            <check if="{{ isset(@errors['email']) }}"> {{ @errors['email'] }}</check>
                        </div>

                        <!-- 21 + -->
                        <div>
                            <label for="birthday">Date of Birth</label>
                            <input type="text" disabled class="form-control w-25" id="birthday" name="birthday" value="{{ @birthday }}">
                            <check if="{{ isset(@errors['birthday']) }}"> {{ @errors['birthday'] }}</check>

                        </div>
                    </fieldset>

                    <div class="mb-5 p-3">
                    <div class="float-right w-25 mt-2">
                        <input class="form-control btn btn-default border bg-secondary text-white border-dark"
                               type="submit" value="Place Order">
                    </div>
                    </div>
            </form>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="row">
        <div class="col-9">
            <p class="m-0 text-center text-white">**Contains raw fish. Consuming raw or undercooked fish may
                increase your risk of food-borne illness.</p></div>
        <div class="col-3">
            <a class="text-right text-white-50" href="login">Admin</a></div>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>