<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Love, Sushi</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Love, Sushi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ @BASE }}">Home

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Order</a>
                    <span class="sr-only">(current)</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <h1 class="font-weight-light">Order at Love, Sushi</h1>
            <p>Love, Sushi is an innovative new way to order your favorite sushi!
                Choose two of your favorite rolls along with a drink for a low price! Mix and match to
                your ideal meal. Pick up only.</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">
            <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
        </div>
    </div>

    <!-- Content Row -->
    <div>
        <div class="mb-5">
                <form action= "#" method="post">
                    <fieldset>
                        <legend>Information</legend>
                        <div>
                            <label for="fname">First Name*</label>
                            <input type="text" class="form-control" id="fname" name="fname" value="{{ @fname }}">
                            <check if="{{ isset(@errors['fname']) }}"> {{ @errors['fname'] }}</check>
                        </div>
                        <div>
                            <label for="lname">Last Name*</label>
                            <input type="text" class="form-control" id="lname" name="lname" value="{{ @lname }}">
                            <check if="{{ isset(@errors['lname']) }}"> {{ @errors['lname'] }}</check>
                        </div>
                        <div>
                            <label for="phone">Phone Number*</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="{{ @phone }}">
                            <check if="{{ isset(@errors['phone']) }}"> {{ @errors['phone'] }}</check>
                        </div>
                        <div>
                            <label for="email">Email*</label>
                            <input type="text" class="form-control" id="email" name="email" value="{{ @email }}">
                            <check if="{{ isset(@errors['email']) }}"> {{ @errors['email'] }}</check>
                        </div>

                        <!-- 21 + -->
                        <div class="checkbox">
                            <label><input type="checkbox" id="terms" name="terms"> I am over the age 21</label>
                        </div>
                        <div>
                            <label for="birthday">Date of Birth</label>
                            <input type="text" class="form-control" id="birthday" name="birthday" value="{{ @birthday }}">
                            <check if="{{ isset(@errors['birthday']) }}"> {{ @errors['birthday'] }}</check>

                        </div>
                    </fieldset>

                    <fieldset>
                        <Legend>Lets start your order</Legend>
                        <label for="state">First Roll:</label>
                        <select class="custom-select" id="froll" name="froll">
                        <repeat group="{{ @rolls }}" value="{{ @roll }}">
                            <option value="{{ @state }}"
                            <check if="{{ @state == @userState }}"> selected </check>
                            > {{ strtoupper(@state) }}</option>
                        </repeat>
                    </select>

                        <label for="state">Second Roll:</label>
                        <select class="custom-select" id="state" name="state">
                            <repeat group="{{ @states }}" value="{{ @state }}">
                                <option value="{{ @state }}"
                                <check if="{{ @state == @userState }}"> selected </check>
                                > {{ strtoupper(@state) }}</option>
                            </repeat>
                        </select>

                        <label for="state">Drink:</label>
                        <select class="custom-select" id="state" name="state">
                            <repeat group="{{ @states }}" value="{{ @state }}">
                                <option value="{{ @state }}"
                                <check if="{{ @state == @userState }}"> selected </check>
                                > {{ strtoupper(@state) }}</option>
                            </repeat>
                        </select>
                    </fieldset>
            </form>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>